@import '../../styles/custom.scss';

div.plant-card {
  background-color: #fff;
  border-radius: 1rem;
  border-color: #fff;
  padding: 8px;
  min-height: 80wh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  display: flex;
  flex-direction: column;
  .card-head {
    padding: 0.8em 0;
    text-align: left;
    display: flex;
    .card-image {
      border-radius: 7px;
      width: 400px;
      height: 500px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 3rem 1rem;
      img {
        min-width: 400px;
        min-height: 500px;
        height: auto;
        width: 100%;
        overflow: hidden;
        transition: all 200ms;
      }
    }
    .card-title {
      color: $secondary;
      font-size: 1.6rem;
      font-weight: 700;
      margin: 1.6rem 0;
    }
    .plant-needs div {
      width: fit-content;
      align-content: center;
      margin-bottom: 0.2rem;
      .image-container {
        width: fit-content;
        margin-right: 1rem;
        padding: 0.8rem;
        border-radius: 40px;
        background: #f1f1f1;
        img {
          margin: 0.8rem;
        }
      }
      p {
        padding-top: 1rem;
        margin-right: 1.4rem;
      }
    }
  }
  .card-body {
    margin: 1.6rem 3rem;
    padding: 0;
  }
}

@media screen and (max-width: 990px) and (min-width: 580px) {
  div.plant-card {
    .card-head {
      margin: 1.6rem 2rem;
      padding: 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      .card-image {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0 3rem;
      }
      .card-title {
        margin: 2rem 0;
      }
      .plant-needs {
        margin: -1rem 0 2rem;
      }
    }
  }
}

@media (max-width: 580px) {
  div.plant-card {
    margin: auto;
    padding: 0;
    .card-head {
      margin: 1.6rem 2rem;
      padding: 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      margin: 0 2rem;
      .card-image {
        display: flex;
        justify-content: center;
        align-self: center;
        border-radius: 7px;
        width: auto;
        max-height: 400px;
        margin: 0.6rem auto 0;
        img {
          align-self: center;
          min-width: 200px;
          min-height: 300px;
          height: 100%;
          width: auto;
          overflow: hidden;
          transition: all 200ms;
        }
      }
      button.btn.btn-simple {
        width: 100%;
      }
    }
    .card-body {
      margin: 0;
      padding: 1.6rem 1.8rem;
    }
  }
}
@media (max-width: 440px) {
  div.plant-card {
    margin: 0;
    padding: 0;
    max-width: 360px;
    .card-head {
      padding: 0.6rem 0.6rem;
      margin: 0;
      .card-image {
        max-height: 400px;
        margin: 0 auto;
        img {
          min-width: 200px;
          min-height: 300px;
          height: 100%;
          width: auto;
          overflow: hidden;
          transition: all 200ms;
        }
      }
      .card-title {
        padding: 0 0.8rem;
      }
      .plant-needs {
        padding: 0 0.8rem;
      }
    }
  }
}
