@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

$primary: rgb(155, 123, 241);

$theme-colors: (
  'primary': $primary,
);

$border-radius: 0px;
$form-range-thumb-height: 2rem;
$form-range-thumb-width: 1rem;
$form-range-thumb-focus-box-shadow-width: 0px;
$form-range-track-height: 1.2rem;
$component-active-bg: $primary;

@import '../node_modules/bootstrap/scss/bootstrap';

*{
    font-family: CerebriSans-Regular,-apple-system,BlinkMacSystemFont,Roboto,sans-serif;

}
body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-form,
.register-form,
.profile-form {
  position: relative;
  // transform: translate(0, 9vh);
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto;
  padding: 55px 45px 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

a.text-center {
  margin-top: 2rem;
  font-size: smaller;
}

div.input-group-text {
  background: rgba(163, 255, 232, 0.349);
}

i.bi {
  color: rgb(97, 25, 231);
  font-weight: bold;
}

.navbar {
  z-index: $zindex-sticky;
}

/* From uiverse.io by @hritik5102 */
button.btn.btn-primary {
  position: relative;
  font-weight: 600;
  height: 40px;
  padding: .2rem 20px;
  outline: none;
  border: 1px solid rgb(116, 116, 116);
  background-color: transparent;
  border-radius: 0;
}

button.btn.btn-primary:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 5px;
  left: 5px;
  height: 100%;
  background-color: rgb(155, 123, 241);
  z-index: -1;
  transition: all 0.35s;
  border-radius: inherit;
}

button.btn.btn-primary:hover:after {
  top: 0px;
  left: 0px;
}
