//////////// Content //////////////
// FORMS
//// inputs
////// textarea
////// file
////// switch
////// range
// NAVBAR
// FOOTER
// COMMON
//// button

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

$primary: rgb(155, 123, 241);
$primary-light: rgb(197, 181, 241);
$secondary: #969696;
$turquoise: #1abc9c;
$greensea: #16a085;
$success: rgb(0, 202, 175);

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);

$transition: all 0.5s ease;
$border-radius: 1rem;
$form-range-thumb-height: 2rem;
$form-range-thumb-width: 1rem;
$form-range-thumb-focus-box-shadow-width: 0px;
$form-range-track-height: 1.2rem;
$component-active-bg: $primary;

$form-file-button-color: #fff;
$form-file-button-bg: $primary;
$form-file-button-hover-bg: $primary;

$input-group-addon-color: $success;
$input-group-addon-bg: $success;
$input-group-addon-border-color: $success;

@import '../node_modules/bootstrap/scss/bootstrap';

* {
  font-family: CerebriSans-Regular, -apple-system, BlinkMacSystemFont, Roboto,
    sans-serif;
  font-weight: 500;
  color: $secondary;
}
body {
  margin: 0;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
  min-width: 99.1vw;
  display: table;
}
p {
  color: #7c7c7c;
}
ul {
  list-style: none;
}
h6 {
  background-color: $primary;
  color: #fff;
  padding: 0.6rem;
}

//////////// FORMS //////////////
@mixin form($name) {
  .#{$name}-form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 400px;
    margin: 2rem auto;
    padding: 45px 55px 45px;
    text-align: center;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.336) 0px 18px 50px -10px;
    .card-info {
      margin-top: 1rem;
      font-size: 0.875rem;
      padding: 1rem 1rem;
      text-align: center;
      color: #8597a3;
      a {
        display: block;
        color: $primary;
        text-decoration: none;
      }
    }
    form legend {
      color: $secondary;
    }
  }
}
@include form('login');
@include form('register');
@include form('profile');
@include form('plant');
@include form('potting-mix');

//////////// inputs //////////////
label,
.switch-label {
  font-size: 1.125rem;
  font: inherit;
  color: $secondary;
}
input.form-control {
  border-radius: 0px;
  border-color: #fff;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: $primary;
    & + .input-label {
      color: $primary;
      transform: translateY(-1.5rem);
    }
  }
  margin-bottom: 1rem;
}

//////////// textarea //////////////
textarea.form-control {
  resize: none;
  border-radius: 0px;
  border-color: $primary;
  background-color: #fff;
  border: 2px solid $primary;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  margin-bottom: 1rem;
}

//////////// file //////////////
input[type='file'] {
  border: 2px solid $primary;
  color: $secondary;
  padding: 0.4rem 0.6rem;
  font-size: 1em;
  &:focus {
    box-shadow: none;
  }
}

//////////// switch //////////////
.switch-label {
  width: 60%;
  text-align: left;
}
input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.check-trail {
  display: flex;
  align-items: center;
  width: 2.6rem;
  height: 1.6rem;
  background: $primary-light;
  border-radius: 0.8rem;
  transition: $transition;
  cursor: pointer;
}
.check-handler {
  display: flex;
  margin-left: 0.3rem;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  background: $primary;
  border-radius: 50%;
  transition: $transition;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.171);
  &:before {
    content: '\00D7';
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.1rem 0 0 -0.1rem;
  }
}
input[type='checkbox']:checked + .check-trail {
  background: $greensea;
  .check-handler {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.171);
    margin-left: 45%;
    background: $turquoise;
    &::before {
      content: '\2714';
    }
  }
}

//////////// range //////////////
.range-label {
  width: 40%;
  text-align: left;
}
.box-minmax {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: $primary;
  margin-top: -1rem;
}
.rs-range {
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.2rem;
    cursor: pointer;
    box-shadow: none;
    background: $primary;
    border-radius: 0px;
  }
  &::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: $primary;
    border-radius: 0px;
  }
  &::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid $primary;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 1.5rem;
    width: 1.2rem;
    border-radius: 1.2rem;
    background: $primary;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.75rem;
  }
  &::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid $primary;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 1.5rem;
    width: 1.2rem;
    border-radius: 1.2rem;
    background: $primary;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.75rem;
  }
  &::-moz-focus-outer {
    border: 0;
  }
}

//////////// NAVBAR //////////////
.navbar {
  z-index: $zindex-sticky;
}

//////////// FOOTER //////////////
#footer-positioner {
  height: 100px;
  display: table-row;
}
.footer {
  z-index: 1;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.418) 0px 2px 8px 0px;
  border-top: 5px solid $primary;
  padding-top: 2.2rem;
  background-color: #fff;
  form {
    p {
      padding: 0 2rem;
    }
    .input-group {
      padding: 0.6rem 3rem 1.8rem;
      max-width: 500px;
      margin: auto;
      ::placeholder {
        font-size: 1.1rem;
        color: $primary;
      }
      input {
        height: 2.6rem;
        border: 2px solid $primary;
        padding-left: 1rem;
        background-color: #fff;
        color: $primary;
      }
      button {
        border: 2px solid $primary;
        border-radius: 0;
        padding: 0 1rem;
        height: 2.6rem;
        color: #fff;
        background-color: $primary;
      }
    }
  }
}

///////////// COMMON ////////////////
i.bi {
  color: $primary;
  font-weight: bold;
}

//////////// button //////////////
/* From uiverse.io by @hritik5102 */
button.btn.btn-primary {
  position: relative;
  font-weight: 600;
  height: 3rem;
  padding: 0.2rem 20px;
  outline: none;
  border: 1px solid $secondary;
  background-color: transparent;
  border-radius: 0;
  margin: 1.2rem 0 0;
  color: #fff;
  &:focus {
    box-shadow: none;
  }
}
button.btn.btn-primary:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 5px;
  left: 5px;
  height: 100%;
  background-color: $primary;
  z-index: -1;
  transition: all 0.35s;
  border-radius: inherit;
}
button.btn.btn-primary:hover:after {
  top: 0px;
  left: 0px;
}
