//////////// Content //////////////
// FORMS
//// inputs
////// switch
////// range
// NAVBAR
// COMMON
//// button

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

$primary: rgb(155, 123, 241);
$primary-light: rgb(197, 181, 241);
$secondary: #969696;
$turquoise: #1abc9c;
$greensea: #16a085;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);

$transition: all 0.5s ease;
$border-radius: 1rem;
$form-range-thumb-height: 2rem;
$form-range-thumb-width: 1rem;
$form-range-thumb-focus-box-shadow-width: 0px;
$form-range-track-height: 1.2rem;
$component-active-bg: $primary;

@import '../node_modules/bootstrap/scss/bootstrap';

* {
  font-family: CerebriSans-Regular, -apple-system, BlinkMacSystemFont, Roboto,
    sans-serif;
}
body {
  margin: 0;
}

//////////// FORMS //////////////
@mixin form($name) {
  .#{$name}-form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 400px;
    margin: 2rem auto;
    padding: 55px 45px;
    text-align: center;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.336) 0px 18px 50px -10px;
    .card-info {
      margin-top: 1rem;
      font-size: 0.875rem;
      padding: 1rem 1rem;
      text-align: center;
      color: #8597a3;
      a {
        display: block;
        color: $primary;
        text-decoration: none;
      }
    }
    form legend {
      color: $secondary;
    }
  }
}
@include form('login');
@include form('register');
@include form('profile');
@include form('plant');

//////////// inputs //////////////
label,
.switch-label {
  font-size: 1.125rem;
  font: inherit;
  color: $secondary;
}
input.form-control {
  border-radius: 0px;
  border-color: #fff;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  // font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: $primary;
    & + .input-label {
      color: $primary;
      transform: translateY(-1.5rem);
    }
  }
  margin-bottom: 1rem;
}

//////////// switch //////////////
.switch-label {
  width: 60%;
  text-align: left;
}
input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.check-trail {
  display: flex;
  align-items: center;
  width: 2.6rem;
  height: 1.6rem;
  background: $primary-light;
  border-radius: 0.8rem;
  transition: $transition;
  cursor: pointer;
}
.check-handler {
  display: flex;
  margin-left: 0.3rem;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  background: $primary;
  border-radius: 50%;
  transition: $transition;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.171);
  &:before {
    content: '\00D7';
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.1rem 0 0 -0.1rem;
  }
}
input[type='checkbox']:checked + .check-trail {
  background: $greensea;
  .check-handler {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.171);
    margin-left: 45%;
    background: $turquoise;
    &::before {
      content: '\2714';
    }
  }
}

//////////// range //////////////
// input.form-range {
//   z-index: 1;
//   background-color: transparent;
//   border-bottom: 2px solid #eee;
//   // font: inherit;
//   font-size: 1.125rem;
//   padding: 0.25rem 0;
// }
.range-label {
  width: 40%;
  text-align: left;
}
.box-minmax {
  // margin-top: .2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: $primary;
  margin-top: -1rem;

  // span:first-child {
  //   margin-left: 10px;
  // }
}
.rs-range {
  // margin-top: 1rem;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.2rem;
    cursor: pointer;
    box-shadow: none;
    background: $primary;
    border-radius: 0px;
    // border: 0px solid #010101;
  }
  &::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: $primary;
    border-radius: 0px;
    // border: 0px solid #010101;
  }
  &::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid $primary;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 1.5rem;
    width: 1.2rem;
    border-radius: 1.2rem;
    background: $primary;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.75rem;
  }
  &::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid $primary;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 1.5rem;
    width: 1.2rem;
    border-radius: 1.2rem;
    background: $primary;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.75rem;
  }
  &::-moz-focus-outer {
    border: 0;
  }
}

// .rs-label {
//   position: relative;
//   transform-origin: center center;
//   display: block;
//   height: 98px;
//   background: transparent;
//   border-radius: 50%;
//   line-height: 30px;
//   text-align: center;
//   font-weight: bold;
//   padding-top: 22px;
//   box-sizing: border-box;
//   border: 2px solid #fff;
//   margin-top: 20px;
//   margin-left: -38px;
//   left: attr(value);
//   color: #fff;
//   font-style: normal;
//   font-weight: normal;
//   line-height: normal;
//   font-size: 36px;
//   &::after {
//     content: 'kg';
//     display: block;
//     font-size: 1rem;
//     letter-spacing: 0.07em;
//     margin-top: -2px;
//   }
// }

// div.input-group-text {
//   background: rgba(163, 255, 232, 0.349);
// }

//////////// NAVBAR //////////////
.navbar {
  z-index: $zindex-sticky;
}

///////////// COMMON ////////////////
i.bi {
  color: $primary;
  font-weight: bold;
}

//////////// button //////////////
/* From uiverse.io by @hritik5102 */
button.btn.btn-primary {
  position: relative;
  font-weight: 600;
  height: 3rem;
  padding: 0.2rem 20px;
  outline: none;
  border: 1px solid $secondary;
  background-color: transparent;
  border-radius: 0;
  margin: 1.2rem 0 0;
  color: #fff;
}
button.btn.btn-primary:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 5px;
  left: 5px;
  height: 100%;
  background-color: $primary;
  z-index: -1;
  transition: all 0.35s;
  border-radius: inherit;
}
button.btn.btn-primary:hover:after {
  top: 0px;
  left: 0px;
}
