@import '../../styles/custom.scss';

.navigation {
  width: 100vw;
  height: 123px;
}
.nav-container {
  width: 100vw;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
}
.logo-container {
  padding: 0.6rem 0;
}
