@mixin line-clamp($name, $number-of-lines) {
  .#{$name}-line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: #{$number-of-lines};
    line-clamp: #{$number-of-lines};
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}

@include line-clamp("card-title", "1");

div.card {
  background-color: #fff;
  border-radius: 1rem;
  border-color: #fff;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 2%;
  max-width: 300px;
  padding: 8px;
  transition: all 350ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

div.card:hover {
  box-shadow: rgba(0,12,32,.04) 0 0 1px 0,rgba(0,12,32,.04) 0 10px 16px 0;
}

div.card-image {
  border-radius: 7px;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card div.card-image img {
  height: auto;
  overflow: hidden;
  transition: all 200ms;
  width: 100%
}

div.card-body {
  padding: .8em .2em;
}

p.card-title {
  color: #333;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: .7em;
}
